# Compiled class files
target/

# Maven wrapper files should be committed
!mvn/wrapper/maven-wrapper.jar
!mvn/wrapper/maven-wrapper.properties

# IntelliJ / NetBeans / Eclipse
.idea/
*.iml
.nbproject/private/
nbbuild/
dist/
nbdist/
*.class



